body {
    font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
    margin: 0;
    color: $text-gray;
    font-size: 1.25rem;
    letter-spacing: 1pt;
    line-height: 150%;
    background-color: $bg-gray;
}

@import "./animations.scss";
